<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Philosophy Website</title>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="js/form.js"></script>

    </head>
    <body>

        <form action="submit.html" name="philQuiz" id="formId">
        <!--Question 1-->
            <div class="form-check" id="radioGroup">
                <div class="py-2 h5"><b>Q1. Do you believe God exists?</b></div>
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value="Yes">
                <label class="form-check-label" for="flexRadioDefault1">
                Yes            
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value="No">
                <label class="form-check-label" for="flexRadioDefault2">
                No
                </label>
            </div> 

            <!--Question 2-->
            <div class="form-check">
                <div class="py-2 h5"><b>Q2. What is the purpose of life?</b></div>
                <input class="form-check-input" type="radio" name="question2" id="flexRadioDefault3" value="To pursue pleasure" >
                <label class="form-check-label" for="flexRadioDefault3">
                To pursue pleasure
                </label>
            </div>
            
            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2" id="flexRadioDefault4" value="There is no meaning">
                <label class="form-check-label" for="flexRadioDefault4">
                There is no meaning
                </label>
            </div> 

            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2" id="flexRadioDefault5" value="To follow the plan set by God">
                <label class="form-check-label" for="flexRadioDefault5">
                To follow the plan set by God
                </label>
            </div> 

            <div class="form-check">
                <input class="form-check-input" type="radio" name="question2" id="flexRadioDefault6" value="To become a good person">
                <label class="form-check-label" for="flexRadioDefault6">
                To become a good person
                </label>
            </div> 

            <!--Question 3-->
            <div class="form-check">
                <div class="py-2 h5"><b>Q3. What is your view on ethics?</b></div>
                <input class="form-check-input" type="radio" name="question3" id="flexRadioDefault7" value="Follow the law">
                <label class="form-check-label" for="flexRadioDefault7">
                Follow the law
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3" id="flexRadioDefault8" value="It's based on your own inner moral principles">
                <label class="form-check-label w-75" for="flexRadioDefault8">
                It's based on your own inner moral principles
                </label>
            </div> 

            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3" id="flexRadioDefault9" value="A forced way of thinking">
                <label class="form-check-label w-75" for="flexRadioDefault9">
                A forced way of thinking
                </label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="question3" id="flexRadioDefault10" value="It's a systemic way of telling the right from the wrong">
                <label class="form-check-label w-75" for="flexRadioDefault10">
                It's a systemic way of telling the right from the wrong
                </label>
            </div>
            <button type="submit" class="btn btn-success mt-3">Submit</button>
        </form>

        



        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>